/*---- fallback Arabic font --------------------------------------------*/
@font-face {
    font-family: 'fallback-arabic';
    src: url('https://lub131.github.io/test1/Arapix.ttf');
  }
  
  /*---- tiny -------------------------------------------------*/
  @font-face {
    font-family: 'tiny';
    src: url('../fonts/MiniKylie-U--misaki_gothic.ttf');
  }
  .font-tiny {
    font-family: 'tiny', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  /*---- small -------------------------------------------------*/
  @font-face {
    font-family: 'small_tight';
    src: url('../fonts/AtariSmall-U--misaki_gothic--88Zen.ttf');
  }
  .font-small_tight {
    font-family: 'small_tight', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  @font-face {
    font-family: 'small_harsh';
    src: url('../fonts/5mikropix--misaki_gothic.ttf');
  }
  .font-small_harsh {
    font-family: 'small_harsh', 'fallback-arabic';
    font-size: 8px;
    line-height: 9px;
  }
  
  /*---- regular -------------------------------------------------*/
  @font-face {
    font-family: 'regular';
    src: url('../fonts/BMmini-U--88Zen--misaki_gothic.ttf');
  }
  .font-regular, body {
    font-family: 'regular', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  @font-face {
    font-family: 'regular_short';
    src: url('../fonts/04B03-U--misaki_gothic.ttf');
  }
  .font-regular_short {
    font-family: 'regular_short', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  /*---- title -------------------------------------------------*/
  @font-face {
    font-family: 'title_tall';
    src: url('../fonts/pixelplay--shnmk14.ttf');
  }
  .font-title_tall {
    font-family: 'title_tall', 'fallback-arabic';
    font-size: 16px;
    line-height: 16px;
  }
  
  @font-face {
    font-family: 'title_news';
    src: url('../fonts/MotorolaScreentype-U--shnmk16b.ttf');
  }
  .font-title_news {
    font-family: 'title_news', 'fallback-arabic';
    font-size: 16px;
    line-height: 16px;
  }
  
  @font-face {
    font-family: 'title_thick';
    src: url('../fonts/ChixaDemiBold--shnmk12b.ttf');
  }
  .font-title_thick {
    font-family: 'title_thick', 'fallback-arabic';
    font-size: 14px;
    line-height: 11px;
  }
  
  /*---- ui -------------------------------------------------*/
  @font-face {
    font-family: 'ui_regular';
    src: url('../fonts/NotNokia-U--knj10b.ttf');
  }
  .font-ui_regular {
    font-family: 'ui_regular', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  /*---- large -------------------------------------------------*/
  @font-face {
    font-family: 'large';
    src: url('../fonts/Resource-U--knj10.ttf');
  }
  .font-large {
    font-family: 'large', 'fallback-arabic';
    font-size: 8px;
    line-height: 10px;
  }
  
  /*---- fallback used by tool only ---------------------------------------*/
  @font-face {
    font-family: 'fallback';
    src: url('../fonts/fallback.ttf');
  }
  
  /*---- misc not used in game --------------------------------------------*/
  @font-face {
    font-family: 'small';
    src: url('../fonts/53Veda-U--misaki_gothic.ttf');
  }
  .font-small {
    font-family: 'small', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  @font-face {
    font-family: 'title_serif';
    src: url('../fonts/TNR-Bold.ttf');
  }
  .font-title_serif {
    font-family: 'title_serif', 'fallback-arabic';
    font-size: 10px;
    line-height: 10px;
  }
  
  @font-face {
    font-family: 'cursive';
    src: url('../fonts/Bangalor-U--elisat10.ttf');
  }
  .font-cursive {
    font-family: 'cursive', 'fallback-arabic';
    font-size: 8px;
    line-height: 8px;
  }
  
  @font-face {
    font-family: 'scribble';
    src: url('../fonts/sd_auto_pilot--BetinaScriptExtraCTT--nagurip.ttf');
  }
  .font-scribble {
    font-family: 'scribble', 'fallback-arabic';
    font-size: 16px;
    line-height: 16px;
  }
  
  /*---- passport countries -------------------------------------------------*/
  @font-face {
    font-family: 'passport_arstotzka';
    src: url('../fonts/v5loxical.ttf');
  }
  @font-face {
    font-family: 'passport_republia';
    src: url('../fonts/Arial-Black.ttf');
  }
  @font-face {
    font-family: 'passport_unitedfed';
    src: url('../fonts/84-Orange.ttf');
  }
  @font-face {
    font-family: 'passport_kolechia';
    src: url('../fonts/BMgermar.ttf');
  }
  
  /*---- misc -------------------------------------------------*/
  @font-face {
    font-family: 'press';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
  }
  .font-press {
    font-family: 'press', 'fallback-arabic';
    font-size: 22px;
    line-height: 22px;
    font-variation-settings: 'wght' 900;
  }
  
  @font-face {
    font-family: 'propaganda';
    src: url('../fonts/PROPAGAN.ttf');
  }
  .font-propaganda {
    font-family: 'propaganda', 'fallback-arabic';
    font-size: 10px;
    line-height: 10px;
  }
  
  @font-face {
    font-family: 'kid_writing';
    src: url('../fonts/RightyUsesLeftHand.ttf');
  }
  .font-kid_writing {
    font-family: 'kid_writing', 'fallback-arabic';
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'news';
    src: url('../fonts/PlainBlack--EncientGermanGothic.ttf');
  }
  .font-news {
    font-family: 'news', 'fallback-arabic';
    font-size: 23px;
    line-height: 34px;
    font-weight: normal;
  }
  
  /*---- browser rendering optimization -------------------------------------*/
  body {
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-rendering: optimizeSpeed !important;
  }
  
